


@if (products$ | async; as products) {
  <div class="products">
    @for (product of products; track $index) {
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }" class="avatar"></div>
          <mat-card-title>{{product.title}}</mat-card-title>
          <mat-card-subtitle>USD ${{product.price}}</mat-card-subtitle>
        </mat-card-header>
        <img class="imagen" mat-card-image src="{{ product.image }}" alt=product.id>
        <mat-card-content>
          <p class="description">
           {{product.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button-1" mat-button>LIKE</button>
          <button  class="button-2" mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
}

<router-outlet />
